flows1.json
[
    {
        "id": "eb87dcbbf5386132",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eeb3b6c93b15eea2",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "btvn",
        "server": "DESKTOP-PED1FFB",
        "port": "1433",
        "encyption": true,
        "trustServerCertificate": true,
        "database": "btvn",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    },
    {
        "id": "1b62cea7c5433add",
        "type": "http request",
        "z": "eb87dcbbf5386132",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 140,
        "wires": [
            [
                "2065bfb1a0b68947"
            ]
        ]
    },
    {
        "id": "2065bfb1a0b68947",
        "type": "function",
        "z": "eb87dcbbf5386132",
        "name": "function 1",
        "func": "msg.payload = `insert into history(sid, value) values (1,${msg.payload.temperature}); insert into history(sid, value) values (2,${msg.payload.humidity})`\n  return msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "00a9e0c2b2dbb5a6"
            ]
        ]
    },
    {
        "id": "316176abb75d50ee",
        "type": "debug",
        "z": "eb87dcbbf5386132",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "5ce1854c922268d0",
        "type": "inject",
        "z": "eb87dcbbf5386132",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "1b62cea7c5433add"
            ]
        ]
    },
    {
        "id": "00a9e0c2b2dbb5a6",
        "type": "MSSQL",
        "z": "eb87dcbbf5386132",
        "mssqlCN": "eeb3b6c93b15eea2",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "316176abb75d50ee"
            ]
        ]
    }
]